
/*------------------------------------*/

.btn-movie {
    color: #7f1b83;
    padding: 100px 100px;
    padding-left: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btn-movie {
    padding-top: 120px ;
    padding-bottom: 0px;
    margin-left: 0px;
    text-align: left;    
}
.btn-movie-class{
    background-color: #7f1b83;
    margin-bottom: 10px;
    border: none;
    padding: 8px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;
}


.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

html, body{
    font-size: 100%;
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background:#212121;
}

/***** Top menu *****/
 /*** search button ***/
 .search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
   }

   .search-box:hover > .search-txt {
    width: 250px;
    padding: 0 6px;
   }
   
   .search-box:hover > .search-btn {
    background: white;
    color: black;
   }
   
   .search-btn {
    color: #e84118;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
   .search-btn > i {
    font-size: 15px;
    color: #212121;
   }
   
   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 13px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
   }

   @media screen and (max-width: 800px) {
    .search-box.responsive {position: relative;}
    .search-box.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .search-box.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.navbar {
    background: #7f1b83;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}
 
.navbar.navbar-no-bg {
    background: #7f1b83;
    
}
 
.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 

.general h4{
    font-size: 20px;
    color: #FFF;
    margin-left: 5%;
}

.subs{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

background: url(../images/capt.jpg)no-repeat;
background-size: cover;
background-color:rgba(24, 24, 24, 0.8);
color: #fff;
align-content: center;
padding: 10em ;	
}
    .subs > * {
        display: inline-block;
        margin: 0 5px;
    }

    .subs input[type="text"] {
        width: 70%;
    }
    .subs input[type="submit"]{
        background-color: #7f1b83;
        color: #FFF;
    }
    .subs h2{
        color: #FFF;
    }

    .content2 {
        background-color: #FFF;
        height: 100%;
        justify-content: center;
    }
    .content2 h2{
        font: #222222;
        text-align: center;
    }
    

.boxes{
background-color: #7f1b83;
width: 100%;
padding: 4em ;
height: auto;
}

.footer2 {
position: absolute;
align-content: left;
color: #FFF;
background: #212121;
position: relative;
padding: 1.5em ;
}
.general,.Latest-tv-series,.faq{
padding: 3em 0;
color:#fff;
}
.w3_latest_text {
    margin-left: 3em;
}

/* News */
.news{
    padding: 30px;
    padding-left: 75px;
}
.wrapper h5 a{
    color:white; 
    background-color: transparent; 
    text-decoration: none;
}
.wrapper h5 a:hover{
    color:red; 
    background-color: transparent; 
    text-decoration: none;
}
.creator:hover{
    
}
.time{
    text-align: right;
    font-size: 10px;
}
.newstitle{
    color: #FFF;
    text-align: left;
    margin-bottom: 10px;
}
.wrapper{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 320px;
    margin-bottom: 40px;
}

.box{
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 5px  ;
    background-color: #7f1b83;
    padding: 20px;
    color: #FFF;
    width: 350px;
    height: 300px;    
}


/*---Media query---*/

@media only screen and (max-width: 1024px) {
    
    .body{
        height: auto !important;
    }
    .subs{
        height: auto !important;
        width: auto;
    }

    .btn-movie {
        height: auto;
        width: auto;
    }

    .subs > * {
        height: auto;
        width: auto;
    }

    .subs input[type="text"] {
        height: auto;
        width: auto;
    }
    .subs input[type="submit"]{
        height: auto !important;
        width: auto;
    }
    .subs h2{
        height: 50%;
        width: auto;
    }
    .boxes{
        height: auto;
    }
    
    
    .footer2{
        height: auto;
    }

    .jumbotron { height: 100%; padding: 5em 0;}

}

@media only screen and (max-width: 660px){
    .subs{
        height: auto;
        width: auto;
    }

    .subs > * {
        height: auto;
        width: auto;
    }

    .subs input[type="text"] {
        height: auto;
        width: auto;
    }
    .subs input[type="submit"]{
        height: auto;
        width: auto;
    }
    .subs h2{
        height: auto;
    }

    .footer2{
        height: auto;
    }
    

    .jumbotron { height: 100%; padding: 5em 0;}
}


/*movie*/

.btn-movie a{
    text-decoration: none;
    color: #FFF;
}
main { margin-bottom: 0; }

			.movie__list__divider {
				background-color: #E8E8E8;
				margin: 5em 0;
				width: 100%;
                height: 5px;
                               
			}
	
			.movie__lists__div {
                height: auto;
                color: #E8E8E8;
                margin: 3em 0;
                
			}

				.movie__lists__header__container { margin-bottom: 2em; position: relative; }

					a.show__more {
						color: #fff;
						background-color: #7f1b83;
						border-radius: 7.5px;
						padding: 7px 15px;

						font-size: 0.955em;
						position: absolute;
						top: 10px;
						right: 0;
					}

				.movie__lists__content {
					display: grid;
					grid-template-columns: repeat(6, 1fr);
                    grid-gap: 30px;
                    padding-top: 1%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

					height: auto;
					width: auto;

					overflow-x: auto !important;
					scroll-snap-type: x proximity;
					overflow-y: hidden;
					-webkit-overflow-scrolling: touch;

					white-space: nowrap;
				}

				.movie__list__item,
				.similar__movie__item { height: 100%; position: relative;}

					.movie__list__item__poster {
						height: 300px;
						width: 100%;
					}

						.movie__list__item__poster img {
							width: 100%;
							height: 100%;
							border-radius: 7.5px;
						}

					.movie__list__item__info {
						margin-top: 0.5em;
						padding: 2px;
                        padding-top: 0;
                        text-align: center;
                        white-space: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
					}

						.movie__list__item__info a {
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 1.20em;
                        color: #fff;
                        padding: 5%;
                            
                        }
                        
                        .movie__list__item__info_rilis {
                            font-size: 14px;
                            text-align: center;
							color: #fff;
                        }

						.movie__list__item__info p,
						.similar__movie__item__info p  {
							background-color: #7f1b83;
							border-radius: 2.5px;
							font-family: sfProMedium;
                            color: #fff;
                            right: -1px;
                            font-size: 12px;
                            float: right;
                            

							
							padding: 5px 10px;

							position: absolute;
							top: 0;
							right: 0;
							
                        }
/*end movie*/

/*============Detail Movie============*/


    .transparent-nav {
        background: linear-gradient(to bottom, #000, transparent) !important;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 997;
    }

    .transparent-nav ul.navbar-nav li a {
        font-family: 'Varela Round', sans-serif;
        font-size: 1.025em;
        text-transform: lowercase;
    }

    nav.transparent-nav .dropdown-menu {
        border-top: 2px solid #7f1b83;
    }



.backdrop__div {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
}

    .backdrop__opacity {
        background-color: rgba(0, 0, 0, 0.6);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img.backdrop__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .backdrop__movie__info {
        position: absolute;
        top: 60%;
        transform: translateY(-60%);

        width: 100%;
        height: 300px;
    }

    h1.backdrop__movie__title {
        color: #FFF;

        font-weight: bold;
        font-size: 3.5em;
        text-transform: uppercase;
    }

        p.backdrop__movie__genre {
            color: #FFF;
            font-weight: bold;
            text-transform: uppercase;
            margin-left: 10px;

            word-spacing: 0.7em;
            letter-spacing: 1px;
        }

        
    button.backdrop__trailer__btn {
        display: block;
        width: 175px;
        background-color: #7f1b83;
        border: none;
        border-radius: 50px;

        font-size: 0.9em;
        font-weight: bold;
        margin-top: 1.5em;
        padding: 10px 5px;

        transition: all .3s;
    }

    button.backdrop__trailer__btn:hover {
        background-color: #8605B5;
        transition: all .3s;
    }

        img.trailer__btn__icon {
            margin-left: 10px;
            width: 22px;
            height: 22px;
        }

        #headerPopup{
            width:75%;
            margin:0 auto;
        }
        
        #headerPopup iframe{
            width:100%;
            margin:0 auto;
        }



.backdrop__additional__info {
    background-color: #FFF;
    border-bottom: 3px solid #7f1b83;
    box-shadow: 0px 0px 40px -2px rgba(0, 0, 0, 0.15);

    display: block;
    width: 50%;
    height: 100px;

    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 5px 5px 0 0;
}

    .backdrop__additional__info .row {
        padding: 10px;
    }

        .backdrop__additional__info .row .col {
            margin-top: 10px;
            border-right: 2px solid #f6f7f8;
        }

        .backdrop__additional__info .row .col:last-child {
            border-right: none;
        }

        .backdrop__additional__info .row .col>* {
            height: auto;
            margin-bottom: 3px;
        }

            .backdrop__additional__info .row .col span {
                font-size: 0.7em;
            }

            .backdrop__info__text {
                text-transform: uppercase;
            }



.movie__article {
    display: block;
    margin: 5em 0;
}

    .movie__poster__container {
        width: 100%;
        height: 360px;
    }

        .movie__poster__container img {
            width: 100%;
            height: 100%;
        }

        p.movie__synopsis {
            color: #FFF;
            width: 85%;
            font-size: 1.115em;
            line-height: 30px;
        }



.similar__movies {
    margin: 6em 0;
    width: 100%;
}

    h3.similar__movies__header {
        position: relative;
        color: #FFF;
    }

    h3.similar__movies__header:after {
        position: absolute;
        bottom: -10px;
        left: 0;

        content: '';
        width: 10%;
        height: 2px;
        background-color: #7f1b83;
    }

    .similar__movie__content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;

        margin: 3em 0;
        height: auto;
        width: auto;

        overflow-x: auto !important;
        scroll-snap-type: x proximity;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        white-space: nowrap;
    }

        .similar__movie__item {
            height: 100%;
        }

            .similar__movie__item__poster {
                height: 330px;
                width: 100%;
            }

                .similar__movie__item__poster img {
                    width: 100%;
                    height: 100%;
                    border-radius: 7.5px;
                }

            .similar__movie__item__info {
                margin-top: 0.5em;
                padding: 10px;
                padding-top: 0;
                white-space: normal;
            }

                .similar__movie__item__info a {
                    font-size: 1.35em;
                    color: #fff;
                    text-decoration: none;
                }




.comments__div {
    margin: 3em auto;
}

    .comments__div .container-fluid,
    .reviews__div .container-fluid {
        width: 100% !important;
        color: #FFF;
        padding: 0;
    }

        form.comments__div__form {
            margin: 2em auto;
            width: 100%;

            position: relative;
        }

            form.comments__div__form input,
            form.comments__div__form textarea {
                display: block;
                width: 100%;
                margin: 1em;
                margin-left: 0;
                padding: 7.5px;

                border: 1px solid #a0adc3;
                border-radius: 5px;

                font-family: sfProRegular;
            }

            form.comments__div__form input[type="submit"] {
                border: none;
                background-color: #7f1b83;
                color: #FFF;

                width: auto;
                padding: 5px 20px;

                position: absolute;
                right: 0;
                bottom: 0;
            }

    
        .reviews__container { padding: 5px; }

            .review__item {
                position: relative;
                padding: 10px;
                margin: 1em 0 1.3em 0;
                margin-left: 0;
            }

            .review__item::after {
                content: '';
                width: 60%;
                height: 1px;
                background-color: #dce1e9;

                position: absolute;
                bottom: 0;
                left: 0;
            }

            .review__item:last-child::after {
                content: none;
            }

                .review__item p { width: 55%; }
    
/*==============detail movie==============*/