html, body{
    font-size: 100%;
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background:#212121;
}

/***** Top menu *****/
 /*** search button ***/
 .search-box {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
   }

   .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
   }
   
   .search-box:hover > .search-btn {
    background-color: white;
    color: black;
    text-decoration: none;

   }

   .search-box:active > .search-btn {
    background-color: #212121;
  }
   
   .search-btn {
    color: #e84118;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
   .search-btn > i {
    font-size: 15px;
    color: #212121;
   }
   
   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 13px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
   }

   .main{
    font-size: 100%;
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #ffffff;;
   }
     .search-box.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

.navbar {
    background: #7f1b83;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}
 
.navbar.navbar-no-bg {
    background: #7f1b83;
    
}
 
.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 
/* Movie Home */
main { margin-bottom: 0; }

			.movie__list__divider {
				background-color: #E8E8E8;
				margin: 5em 0;
				width: 100%;
                height: 5px;
                               
			}
	
			.movie__lists__div {
                height: auto;
                color: #E8E8E8;
                margin: 3em 0;
                
			}

				.movie__lists__header__container { margin-bottom: 2em; position: relative; }

					a.show__more {
						color: #fff;
						background-color: #7f1b83;
						border-radius: 7.5px;
						padding: 7px 15px;

						font-size: 0.955em;
						position: absolute;
						top: 10px;
						right: 0;
					}

				.movie__lists__content {
					display: grid;
					grid-template-columns: repeat(6, 1fr);
                    grid-gap: 30px;
                    padding-top: 1%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

					height: auto;
					width: auto;

					overflow-x: auto !important;
					scroll-snap-type: x proximity;
					overflow-y: hidden;
					-webkit-overflow-scrolling: touch;

					white-space: nowrap;
				}

				.movie__list__item,
				.similar__movie__item { height: 100%; position: relative;}

					.movie__list__item__poster {
						height: 300px;
						width: 100%;
					}

						.movie__list__item__poster img {
							width: 100%;
							height: 100%;
							border-radius: 7.5px;
						}

					.movie__list__item__info {
						margin-top: 0.5em;
						padding: 2px;
                        padding-top: 0;
                        text-align: center;
                        white-space: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
					}

						.movie__list__item__info a {
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 1.20em;
                        color: #fff;
                        padding: 5%;
                            
                        }
                        
                        .movie__list__item__info_rilis {
                            font-size: 14px;
                            text-align: center;
							color: #fff;
                        }

						.movie__list__item__info p,
						.similar__movie__item__info p  {
							background-color: #7f1b83;
							border-radius: 2.5px;
							font-family: sfProMedium;
                            color: #fff;
                            right: -1px;
                            font-size: 12px;
                            float: right;
                            

							
							padding: 5px 10px;

							position: absolute;
							top: 0;
							right: 0;
							
                        }
                       



.general hr {
    width:90%;
    color:#7f1b83;
}

.plugin {
    margin-top:20px;
margin-right:30px;

margin-left:40px;
}
.subs{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

background: url(../images/capt.jpg)no-repeat;
background-size: cover;
background-color:rgba(24, 24, 24, 0.8);
color: #fff;
align-content: center;
padding: 10em ;	
}
    
    .subs input[type="submit"]{
        background-color: #7f1b83;
        color: #FFF;
    }
    .subs h2{
        color: #FFF;
    }

    .content2 {
        
        background-color: #FFF;
        height: 100%;
        
    }
    .content2 h2{
        font: #222222;
        text-align: center;
    }

    .content3 {
        position: relative;
        background-color: #FFF;
        min-height: 100vh;
       
    }
    


    /* aboutus */

    .aboutus__div {
        margin-bottom: 3em; 
    }

		.card {
            border: none;
            width: 100%;
            display: contents;
            
        }
        
			.aboutus__toggle__btn {
                position: relative;
				width: 100%;
				text-align: left;
			}

				.aboutus__toggle__btn i {
					position: absolute;
					right: 1em;
				}

			.card-header {
				border-bottom: none;
                border-radius: 5px;
                
                
			}

			.card-body {
				border-bottom: 3px solid #D7DBCF;
            }
            .collapse-show {
                width: 100%;
                
                
            }

.boxes{
background-color: #7f1b83;
width: 100%;
padding: 4em ;
height: auto;
}

.footer2 {
position: absolute;
align-content: left;
color: #FFF;
background: #212121;
position: relative;
padding: 1.5em ;
}
.general,.Latest-tv-series,.faq{
padding: 3em 0;
color:#fff;
}
.w3_latest_text {
    margin-left: 3em;
}

.btn-movie {
    color: #7f1b83;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* button movie*/
.btn-movie {
    padding-top: 120px ;
    padding-bottom: 0px;
    text-align: left;    
}
.btn-movie-class {
    background-color: #7f1b83;
    border: none;
    padding: 10px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;
}
    .btn-movie-class a {
        color: #FFF;
    }

/* News */
.news{
    padding: 30px;
    padding-left: 75px;
}
.wrapper h5 a{
    color:white; 
    background-color: transparent; 
    text-decoration: none;
}
.wrapper h5 a:hover{
    color:red; 
    background-color: transparent; 
    text-decoration: none;
}

.time{
    text-align: right;
    font-size: 10px;
}
.newstitle{
    color: #FFF;
    text-align: left;
    margin-bottom: 10px;
}
.wrapper{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 320px;
    margin-bottom: 40px;
}

.box{
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 5px  ;
    background-color: #7f1b83;
    padding: 20px;
    color: #FFF;
    width: 350px;
    height: 300px;    
}
/* News */

/* Promotion */
.card{
    width: 600px;
    margin-left: 25%;
}
/* Promotion */

.card-class {
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 200px;
}

.card-body a{
    color: #212121;
    text-decoration: none;
}

/* Subscribe */


.newsletter__div {
    color: #FFF;
    position: relative;
    width: 100%;
    height: auto;
    padding: 2em 0;
    margin: 4em auto;
    margin-bottom: 0;
}

    .newsletter__div h1,
    .newsletter__div p {
        margin: 10px auto;
        text-align: center;
    }

    .newsletter__div p { font-size: 1.15em; width: 50%; }

    .newsletter__form {
        display: grid;
        grid-template-columns: 1fr 1fr 100px;
        grid-gap: 25px;

        width: 80%;
        margin: 20px auto;
        margin-bottom: 20px;
    }

        .newsletter__form input {
            border: none;
            border-radius: 2.5px;
            padding: 5px;
            font-family: sfProRegular;
        }

        .newsletter__form input[type="submit"] { 
            background-color: #7f1b83;
        }

/*==========================
About
=========================== */



/*---Jumbotron---*/

.jumbotron{
	height: 300px;
	width: 100%;
	background: url('../images/team.jpeg') center;
	background-size:cover;
	position: relative;
}
	.jumbotron .overlay{
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
    .jumbotron h1{
        color: #FFF;
        text-align: center;
        padding-top: 5%;
    }
.jumbotron .container *{
	text-align: center;
	z-index: 20;

}

/*---about content---*/

/* ============================== CONTACT PAGE ========================= */
/* ===================================================================== */

.contact__form__outer__container .row .col {
    color: #fff;
	padding-bottom: 3em;
	}

	.contact__form__container {
		position: relative;
	}
		.contact__form__btn {
            position: absolute;
            background: #7f1b83;
            color: #fff;
			right: 1em;
		}

		.contact__form input#judulpesan,
		.contact__form textarea {
			display: block;
			width: 100%;
		}

		.contact__form input,
		.contact__form textarea {
			margin: 10px 0;
			padding: 7.5px;

			font-size: 1.15em;
			color: #787b80;
			border: 2px solid #c8cdd4;
			border-radius: 2.5px;
		}

		.contact__form input::placeholder,
		.contact__form textarea::placeholder {
			color: #787b80;
			font-weight: bold;
		}

			.contact__form .input-group input {
				width: 49%;
			}

			.contact__form .input-group input:first-child {
				margin-right: 1%;
			}

			.contact__form .input-group input:last-child {
				margin-left: 1%;
			}

		.contact__heading {
			text-align: center;
		}

	.address__container h1 {
		text-align: center;
		margin-bottom: 1em;

	}

	.address__container p {
		width:auto;
		margin: 1em auto;
	}

/*---Media query---*/
@media only screen and (max-width: 1440px) {
	.movie__list__item__poster {
		height: 290px;
    }
    
    .body{
        height: auto !important;
    }

    .btn-movie {
        height: auto;
        width: auto;
    }

    .subs, .boxes, .footer2{ width: auto !important; }
    .jumbotron { height: 100%; padding: 5em 0;}

    .newsletter__div p { width: 100%; }

	.newsletter__form { width: 100%; grid-gap: 15px; }
}


@media only screen and (max-width: 1024px) {
    .body{
        height: auto !important;
    }

    .btn-movie {
        height: auto;
        width: auto;
    }

    .subs, .boxes, .footer2{ 
        width: 100% !important;
        height: auto; 
    }
    .jumbotron { height: 100%; padding: 5em 0;}

    .newsletter__div p { width: 100%; }

	.newsletter__form { width: 100%; grid-gap: 15px; }

	.jumbotron { height: auto; padding: 5em 0;}

		.jumbotron__poster__container { height: auto !important; }

			.jumbotron__movie__details__container { max-height: 300px; }

				a.jumbotron__movie__title { font-size: 1.5em; }

				p.jumbotron__movie__desc { width: 95%; }


	.backdrop__additional__info { width: 90%; }

		p.movie__synopsis { width: 100%; }


		.movie__list__item__poster {
			height: 310px;
		}

	.movie__search__results {
		grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
		grid-gap: 30px;
	}	

		.movie__list__item, .similar__movie__item { width: 200px; }

			.movie__search__results .movie__list__item__poster { height: 310px; }
	

	.newsletter__div p { width: 100%; }

		.newsletter__form { width: 100%; grid-gap: 15px; }


	
}





@media only screen and (max-width: 660px) {

	.container-fluid { padding: 0 !important; }

	form.form-inline {
		margin: 10px auto;
		width: 90%;
	}

	

	.backdrop__movie__info {
		margin-top: 2.5em;
	}
	
		h1.backdrop__movie__title {
			font-size: 2.5em;
		}
	
	.backdrop__additional__info {
		width: 90%;
	}

		.backdrop__additional__info .row {
			padding: 2.5px;
		}
			.backdrop__additional__info .row .col {
				margin-top: 5px;
			}

				p.backdrop__info__header {
					font-size: 0.8em;
				}

				h4.backdrop__info__text {
					font-size: 1em;
				}

	.movie__list__item__poster, .similar__movie__item__poster {
		height: 310px;
	}

		a.show__more {
			top: -2px;
			padding: 5px 10px;
			font-size: 0.895em;
		}

		p.movie__synopsis {
			width: 100%;
			margin-top: 2em;
		}


	.movie__search__results {
		grid-gap: 10px;
	}

		.movie__search__results .movie__list__item { width: auto; }

			.movie__search__results .movie__list__item__poster { height: 250px; }

				.movie__search__results .movie__list__item__poster img { width: auto; }


	.newsletter__form {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 15px;
	}


	
.card-deck {
    margin-bottom: 20px;
}